<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header2 :: common-header" />





<body>
	<!-- container section start -->
	<section id="container" class="">

		<div th:replace="common/navbar :: common-navbar" />

		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa fa-bars"></i> <span th:text="${fileUpload.filename}"></span> Records
						</h3>
						<ol class="breadcrumb">

						</ol>
					</div>
				</div>

<input type="hidden" id="xId" th:value="${fileUpload.id}"/>

				<!-- page start-->

				<div class="row">
					<div class="col-lg-12">
						<section class="panel">

							<table id="example" class="table table-striped  table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>User ID</th>
										<th>Other User ID</th>
										<th>Direction</th>
										<th>Length</th>
										<th>Timestamp</th>
										<th th:attr="data-visible=${show}">Delete</th>

									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>#</th>
										<th>User ID</th>
										<th>Other User ID</th>
										<th>Direction</th>
										<th>Length</th>
																				<th>Timestamp</th>
										
										<th th:attr="data-visible=${show}">Delete</th>
								

									</tr>
								</tfoot>
								<tbody>

								</tbody>
							</table>
						</section>
					</div>
				</div>
				<!-- page end-->





			</section>
		</section>
		<!--main content end-->





		<!--         <div th:replace="common/footer :: common-footer" /> -->




	</section>

	<div th:replace="common/header2 :: before-body-scripts" />
	<script th:src="@{/assets/datepicker/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/dropzone.js}"></script>
	<script th:src="@{/js/notify.js}"></script>
	<!-- DataTables -->
	<script th:src="@{/assets/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/assets/datatables/dataTables.bootstrap.min.js}"></script>
	<script
		th:src="@{/assets/datatables/extensions/Buttons/js/dataTables.buttons.min.js}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script th:src="@{/assets/datatables/pdfmake/pdfmake.min.js}"></script>
	<script th:src="@{/assets/datatables/pdfmake/vfs_fonts.js}"></script>
	<script
		src="//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>

	<script th:src="@{/js/sweetalert.js}"></script>



	<script>
		var table;
		$(document)
				.ready(
						function() {
							
							
						
							table = $('#example').DataTable({
						        "lengthMenu": [[-1,100], ["All",100]],
						        //dom: 'Blfrtip',
						        buttons: [
						            {
						                text: 'My button',
						                action: function ( e, dt, node, config ) {
						                    alert( 'Button activated' );
						                }
						            }
						        ],
								"ajax" : {
									"url" : "/file/uploaded/file/"+$("#xId").val()+"/records",
									"type" : "POST"
								},
								"columns" : [ {
									"data" : null,
									"searchable" : false,
									"orderable" : false,
								}, {
									"data" : "userId","class":"text-right"
								}, {
									"data" : "otherUserId","class":"text-right"
								}, {
									"data" : "direction"
								}, {
									"data" : "length","class":"text-right"
								}, 
								{
									"data" : "timestamp","class":"text-right"
								},
								{
									"data" : null,
									"defaultContent" : '<div class="btn-group"><button class="btn btn-danger btn-xs delBtn"><i class="icon_close_alt2"></i></button></div>'
								} ]
							});

							table.on('order.dt search.dt', function() {
								table.column(0, {
									search : 'applied',
									order : 'applied'
								}).nodes().each(function(cell, i) {
									cell.innerHTML = i + 1;
								});
							}).draw();
							$('#example tbody')
									.on(
											'click',
											'button',
											function(e) {
												var data = table.row(
														$(this).parents('tr'))
														.data();
												var elem = e.currentTarget;
												if ($(elem).hasClass("delBtn")) {
													swal(
															{
																title : "Are you sure?",
																text : "Your will not be able to recover this  file!",
																type : "warning",
																showCancelButton : true,
																confirmButtonClass : "btn-danger",
																confirmButtonText : "Yes, delete it!",
																closeOnConfirm : false
															},
															function() {
																deleteAnUpload(data.id);

															});

												} else if ($(elem).hasClass(
														"viewBtn")) {
													location.href = "/file/uploaded/file/"
															+ data.id
															+ "/record";
												}
											});

						});

		function deleteAnUpload(id) {

			$.ajax({
				url : "/file/call-log/delete",
				data : {
					id : id
				},
				type : "post",
				dataType : "json",
				beforeSend : function(jqXHR, PlainObject) {

				},
				success : function(data, textStatus, qXHR) {
					console.log(data)
					if (data.status === "00") {
						swal("Deleted!", "Your  file has been deleted.",
								"success");
						table.ajax.reload();

					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert(errorThrown)
				}
			})
		}
	</script>


</body>






</html>
